<template>
  <v-row justify="center">
    <v-dialog
      v-model="_dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar
          dark
          color="primary"
        >
          <v-btn
            icon
            dark
            @click="_dialog = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Job Detail</v-toolbar-title>
          <v-spacer />
          <v-toolbar-items>
            <v-btn
              id="apply_job"
              dark
              text
              @click="applyJob()"
            >
              Apply Job
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card
          class="mx-auto"
          max-width="540"
        >
          <v-card-text>
            <p id="name" class="display-1 text--primary">
              {{ jobDetail.name }}
            </p>
            <p>Age between {{ jobDetail.lowerBoundAge }} -  {{ jobDetail.upperBoundAge }} </p>
            <p>Gender {{ genderText }} </p>
            <p>Experience >= {{ jobDetail.experience }} </p>
            <p id="message" class="display-1 text--secondary">
              Status: {{ status }}
            </p>
          </v-card-text>
        </v-card>
        <v-card
          class="mx-auto"
          max-width="540"
        >
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-container>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    id="resume_name"
                    v-model="resume.name"
                    label="Name"
                    required
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    id="resume_age"
                    v-model="resume.age"
                    label="Age"
                    type="number"
                    required
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-select
                    id="resume_gender"
                    v-model="resume.gender"
                    item-text="name"
                    item-value="value"
                    :items="genders"
                  />
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-text-field
                    id="resume_experience"
                    v-model="resume.experience"
                    label="Experience"
                    type="number"
                    required
                  />
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { getJobDetail, applyJob } from '~/services'
export default {
  name: 'ShowJobDetail',
  props: {
    dialog: {
      type: Boolean,
      required: true
    },
    jobId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      status: '',
      resume: {
        name: 'Buris',
        age: 28,
        gender: 1,
        experience: 2,
        detail: {}
      },
      notifications: false,
      sound: true,
      widgets: false,
      jobDetail: {
      },
      valid: true,
      genders: [
        {
          name: 'Male',
          value: 1
        },
        {
          name: 'Female',
          value: 2
        }
      ]
    }
  },
  computed: {
    _dialog: {
      get () {
        return this.dialog
      },
      set (value) {
        this.$emit('dialogChange', value)
      }
    },
    genderText: {
      get () {
        if (!this.jobDetail.gender) { return '' }
        switch (this.jobDetail.gender) {
          case 1:
            return 'Male Only'
          case 2:
            return 'Female Only'
        }
        return 'No Sex'
      }
    }
  },
  watch: {
    _dialog (value) {
      if (value) {
        this.getJobDetail(this.jobId)
      } else {
        this.status = ''
      }
    }
  },
  methods: {
    async getJobDetail (id) {
      try {
        this.jobDetail = await getJobDetail(id)
      } catch (err) {

      }
    },
    async applyJob () {
      try {
        const result = await applyJob(this.resume, this.jobDetail)
        this.status = result
      } catch (err) {
      }
    },
    validate () {
      this.$refs.form.validate()
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    }

  }
}
</script>
